# Data and Assets (THE BIGGEST OFFENDERS)
datasets/
data/
runs/
training_results/
*.mp4
*.avi
*.jpg
*.png

# Build artifacts
build/
dist/
*.egg-info/

# Git history (can be surprisingly large)
.git
.gitignore

# Previous weights (Only keep your FINAL best.pt)
model/weights/last.pt
model/weights/train*.pt