fastapi==0.135.3
uvicorn
pydantic==2.12.5
pydantic_core==2.41.5
starlette==1.0.0
anyio==4.13.0
h11==0.16.0
python-multipart==0.0.26
ultralytics
pillow==12.1.1
opencv-python-headless>=4.13.0
statsmodels
supervision==0.27.0.post2
sympy==1.14.0
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata
ultralytics==8.4.22
ultralytics-thop==2.0.18
unicodedata2
urllib3==2.6.3
uvicorn==0.44.0
win_inet_pton